frontend/node_modules/
frontend/dist/
__pycache__/

.env.development
.env.production
.env.local
.env.backup
.DS_Store

venv/

.env
.env.host
.env.server
*.pyc
nohup.out

# Build artifacts
shared/build/
shared/virtualpytest_shared.egg-info/
backend_core/build/
backend_core/virtualpytest_backend_core.egg-info/
