[Unit]
Description=VirtualPyTest backend_host Service (Hardware Interface)
After=network.target
Wants=network.target

[Service]
Type=simple
User=sunri-pi2
Group=sunri-pi2
WorkingDirectory=/home/sunri-pi1/virtualpytest/backend_host
Environment=HOST_PORT=6109
Environment=HOST_NAME=sunri-pi2
Environment=HOST_URL=http://sunri-pi2:6109
Environment=SERVER_URL=https://your-backend_server.onrender.com
Environment=DEBUG=false

# Git pull and start service
ExecStartPre=/usr/bin/git -C /home/sunri-pi1/virtualpytest pull
ExecStart=/usr/bin/python3 src/app.py

# Restart policy
Restart=always
RestartSec=10

# Logging
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target 