[Unit]
Description=Run VirtualPyTest Host Flask App server
After=network.target
Wants=network.target

[Service]
Type=simple
User=sunri-pi2
Group=sunri-pi2
WorkingDirectory=/home/sunri-pi1/automai/virtualpytest/scripts
ExecStartPre=/usr/bin/git pull
ExecStart=/bin/bash /home/sunri-pi1/automai/virtualpytest/scripts/launch_virtualhost.sh 

[Install]
WantedBy=multi-user.target 