[Unit]
Description=VirtualPyTest Server Host Service - Launch VirtualPyTest System
After=network.target
Wants=network.target

[Service]
Type=simple
User=sunri-pi1
Group=sunri-pi1
WorkingDirectory=/home/sunri-pi1/virtualpytest/scripts
ExecStartPre=/usr/bin/git pull
ExecStart=/bin/bash /home/sunri-pi1/virtualpytest/scripts/launch_virtualpytest.sh
TimeoutStopSec=10
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

# Environment
Environment=HOST_NAME=sunri-pi1
Environment=PATH=/usr/local/bin:/usr/bin:/bin

# Security
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
