Flask==3.0.0
Flask-CORS==4.0.0
langchain-openai
supabase
python-dotenv==1.0.0
psycopg2-binary==2.9.9 
requests
paramiko
networkx
opencv-python
psutil
GitPython
pytesseract
pytz
Appium-Python-Client
boto3
numpy==1.24.3
Pillow==10.0.1
coral-ai-tpu==2.0.0
langdetect
patchright
posthog
browseruse
tapo